:root {
    --first-font: #FFFFFF;
    --main-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --button-background-color:#4d5ae5;
    --background-color: #404bbf;
    --icon-color: #8e8f99;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: var(--main-text-color));
}

p,h1,h2,h3,h4,h5,h6 {margin-top: 0; margin-bottom: 0;}

h2{font-weight: 700;
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--main-text-color);}

h3{font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--main-text-color);}

p{font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--secondary-text-color);}

img{display: block;
width: 100%;}

.link {
    text-decoration: none;
    font-style: normal;
}

.list {list-style: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;}

.container {width: 100%;
max-width: 428px;
padding: 0 15px;
margin: 0 auto;}

/* СТИЛІ ШАПКИ */
.header{border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);;}

.header-container {display: flex;
align-items: center;}

.header-logo{margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-logo-alt {color:var(--secondary-text-color);}

.header-nav {display: flex;
align-items: center;
flex-grow: 1;}


.header-list {display: flex;
gap: 40px;}

.header-list-item {font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color:var(--main-text-color);}

.header-list-link {
    display: inline-block;
    padding: 24px 0;
    transition:color var(--transition) ;}

.active-p{position: relative;
color: #404bbf;}

.active-p::after{
    position: absolute;
    content: '';
    left:0;
    width: 100%;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}
.header-contacts-list {display: flex;
gap: 40px;}

.header-contacts-link {color: var(--secondary-text-color); 
    font-weight: 400; 
    font-style: 16px; 
    line-height: 24px; 
    letter-spacing: 0.02em;
    transition: color var(--transition);
   }

.header-list-link:hover, .header-contacts-link:hover {color: #404bbf;}
.header-list-link:focus, .header-contacts-link:focus {color: #404bbf;}

/* Hero-section styles */

.hero .hero-container{ 
        padding: 188px 0 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Hero-bckgrnd-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* font-weight: 50px; */
        max-width: 1440px;
        /* block-size: 1440px 600px; */
        }


.hero-title {
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--first-font);
    }

.hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--first-font);
    background-color: var(--button-background-color);
    cursor: pointer;
    align-items: center;
    margin: 0 auto;
    padding: 16px 32px;
    border:none;
    box-shadow: 0 4px 4px rgba(0 0 0 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   }
    
.hero-btn:hover, .hero-btn:focus {
     background-color: #404BBF;
    }
    
 
/* /* Benefits section styles  * */
.benefits {padding: 120px 0;
background-color:#fff;}

.benefits-icon{display: none; 
    align-items: center;
    justify-content: center;
    background-color:#F4F4FD; 
    border-radius: 4px; 
    margin-bottom: 8px;
    height: 112px;}

.benefits-list {display: inline-flex;
gap: 72px;}

/* .benefits-item{width: calc((100% - 72px)/4);} */

.benefits-title{margin-bottom: 8px;}

@media screen and (min-width: 428px) {
    .container {
        max-width: 396px;
    }
/* .benefits-content{margin-bottom: 120px;
max-width: 264px;} */

/* Our work section */
/* .our-work-container {padding-bottom: 120px;} */

.our-work-title{margin-bottom: 72px;}

.our-work-list {display: flex;
                gap: 24px;
                padding-bottom: 120px;}
.our-work-item {border: 1px solid #e7e9fc;}

/* Our Team section  */
.our-team {background-color: #f4f4fd;
padding: 120px 0;}

.our-team-title {
    margin-bottom: 72px;}

.our-team-list {display: flex;
    align-items: center;
    gap: 24px;
   }

.team-member-photo {margin-bottom: 32px;
    max-width: 100%;
}

.our-team-item{width: calc((100% - 48px) / 3);
background-color:var(--first-font);
box-shadow: 0px 1px  6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0 0 4px 4px;
}

.team-member-info {padding: 32px 0;}
.team-member-name {text-align: center;
    margin-bottom: 8px;;
}
.team-member-job {text-align: center;
margin-bottom: 8px;}

.team-member-name{margin-bottom: 8px;}

.team-member-social-links-list {display: flex;
    justify-content: center;
    gap: 24px;}

.team-member-social-links-item {
    width: 40px;
    height: 40px;}
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);} */
.team-member-social-link 
    {width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-member-social-link:hover, .team-member-social-link:focus {background-color: #404BBF;}

.team-member-social-link-icon{fill: #f4f4fd;}

/* Customers-styles */
.our-customers{padding: 120px 0;}

.customers-title{margin-bottom: 72px; line-height: 1.11; color: var(--main-text-color);}

.customers-list{display: flex;
justify-content:center;
align-items: center;
gap: 24px;}

.customers-item{width: calc((100% - 120px) / 6); height: 88px;}
/* transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);} */
    
.customer-link{width: 100%;height: 100%;display: flex; border: 1px solid #8e8f99;border-radius: 4px;
align-items: center;justify-content: center;color:var(--icon-color);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    

.customer-link:hover{border-color: #404BBF; color: #404BBF;}
.customer-link:focus{border-color: #404BBF; color: #404BBF;}
.customers-item-icon{fill:currentColor;}

/* Footer styles */
.footer {padding: 100px 0;
    background-color: var(--main-text-color);}
.footer-container {display: flex; 
    align-items: baseline;
    }
.footer-logo-container{margin-right: 120px;}
.footer-logo-alt{color: var(--first-font);}
.footer-link{display: inline-block;
margin-bottom: 16px;}
.footer-info{
    display: block;
    max-width: 264px;   
    color: var(--first-font);}

.footer-social {align-items: baseline; margin-right: 120px;}

.footer-social-info {
    color: var(--first-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;}

.footer-social-list{display: flex; gap: 16px;}

.footer-social-item{
    width: 40px;
    height: 40px;
    }
    
.footer-social-link {width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.footer-social-link:hover {background-color: #31D0AA;}
.footer-social-link:focus {background-color: #31D0AA;}
.footer-social-icon {fill: #F4F4FD;}

.footer-subscribe{}
.footer-form {display: flex;
gap: 24px;}

.footer-input{
    border: 1px solid var(--first-font);
        outline: none;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        background-color: #4D5AE5;
                font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--first-font);
        background-color: transparent;
        }
.footer-input::placeholder {
    color: var(--first-font);
}

.footer-form-btn
{min-width: 165px;
    height: 40px;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    /* gap: 16px; */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: color var(--transition)}

.footer-form-btn:is(:hover, :focus) {background-color: #404bbf;}

.footer-form-icon {margin-left: 16px;}

.backdrop{width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 2;
background-color:rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-w {position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.backdrop.is-hidden .modal-w {transform: translate(-50%, -50%) scale(0);}

.modal-btn
    {position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal-btn:hover {background-color: #404bbf; border: none;}
.modal-btn:focus {background-color: #404bbf; border: none;}

.modal-btn-icon {transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.modal-btn:hover .modal-btn-icon{fill: #ffffff}
.modal-btn:focus .modal-btn-icon { fill: #ffffff}

.modal-title{font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    max-width: 360px;
    margin-bottom: 16px;}


.order-form-block{margin-bottom: 8px;}

.modal-label {font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: var(--icon-color);
display: block;
margin-bottom: 4px;}

.order-form-area{position: relative;}
    

.modal-input
{width: 100%;
position: relative;
border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.40);
height: 40px;
background-color: transparent;
outline: transparent;
padding-left: 38px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal-input:focus {border-color: #4D5AE5}

.modal-svg{position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal-input:focus + .modal-svg{fill: #4D5AE5;}

.order-form-comment{margin-bottom: 16px;}

.modal-comment-block
{width: 100%;
height: 120px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
padding:8px 16px;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
resize: none;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal-comment-block:focus {border-color: #4D5AE5;}

.modal-comment-block::placeholder{font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4)}

.privacy-check-block {margin-bottom: 24px;}

.privacy-label{font-size: 12px;line-height: 1.17;letter-spacing: 0.04em; color: var(--icon-color);}

.privacy-label-alt
{width: 16px; 
height: 16px; 
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;} 

.privacy-input:checked + .privacy-label span{
    background-color: var(--background-color);
    border: none;
    fill:#F4F4FD;

}

.policy{color:var(--button-background-color)}

.modal-send-btn{
       font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 16px 32px 16px 32px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin: 24px auto;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:is(:hover, :focus){background-color: #404bbf;
    border: none;} 

    /* Poftfolio Unic Styles */
.portfolio-section {padding: 96px 0 120px 0;}

.button-menu {display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;}
    
.button-portfolio {
    padding: 12px 24px;
     font-family: inherit;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     text-align: center;
     letter-spacing: 0.04em;
     cursor: pointer;
     color: #4D5AE5;
     background-color: #F4F4FD;
     padding: 12px 24px;
     border: 1px solid #e7e9fc;
     border-radius: 4px;
 }

 .button-portfolio:hover {
     color: #FFFFFF;
     background-color: #404BBF;
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
     border-radius: 4px;
     border: 1px solid transparent;
 }

 .button-portfolio:focus {
     color: #FFFFFF;
     background-color: #404BBF;
    border: 1px solid transparent;
 }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
    
    }

    .portfolio-item {
    width:  calc((100% - 48px) / 3);
    overflow: hidden;
    }
    .portfolio-item:hover .portfolio-cover-info {transform: translate(0);}

.portfolio-item-info{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.portfolio-item-title{
    font-weight: 500;
    text-align: left;
    font-size: 20px;
    line-height: 24px;letter-spacing: 0.02em;
margin-bottom: 8px;}

.portfolio-item-text{
    font-weight:400;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);}

.portfolio-cover{position: relative;
    overflow: hidden;
.portfolio-cover-info{position: absolute;
top: 0;
left: 0;
height: 100%;
background-color: #4D5AE5;
color: #F4F4FD;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.32px;
padding: 40px 32px;
transform: translateY(100%);
transition: transform var(--transition);}

